body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#color-box {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    /* Default background color */
    margin: 20px auto;
    padding: 50px;
    border-radius: 10px;
}

#change-color-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #45586e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#change-color-btn:hover {
    background-color: #0056b3;
}